
<div>
  <h5>並び替え</h5>
  <ul>
  <% direction.sortable_columns.each do | column |
      if column.instance_of?( Hash )
        field = column.keys.first
        directions = column.values.first
      else
        field = column
        directions = [ :asc, :desc ]
      end
  %>
    <% directions.each do | direction | %>
      <li><%= link_to "#{ field } #{ direction }", "?#{ filter.to_query( :filter ) }" %></li>
    <% end %>
  <% end %>
  </ul>
</div>


<% options.each do | column, opt_hash | %>
<div>
  <h5><%= column_name_label( column ) %>で絞り込む</h5>
  <ul>
    <%
      cnt = 0
      opt_hash.each do | opt_name, count |
        cnt += 1
    %>
      <li>
        <%= link_to "#{ opt_name_label( column, opt_name ) } #{ number_with_delimiter( count, delimiter: "," ) }", "?#{ filter.to_query( :filter )}" %>
      </li>
      <% break if facet_max?( cnt ) %>
    <% end %>
  </ul>
  <% if facet_max?( cnt ) && opt_hash.keys.length > cnt %>
    <%= link_to "#{ column_name_label( column )}を全て見る", "/#{column}s" %>
  <% end %>
</div>
<% end %>
